@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

div.scrollbar-round::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
